@use "../abstracts/" as *;

.date-range-picker {
    .react-datepicker-popper, .react-datepicker__tab-loop {
        display: none;
    }
    &__title {
        display: flex;

        p {
            width: 120px;
            margin-right: 60px;
            font-size: 12px;
            letter-spacing: 1px;
            font-weight: 900;
            font-family:$font-family-accent;
            @include tablet-breakpoint {
                margin-right: 42px;
            }
            @include mobile-breakpoint {
                margin-right:24px;
            }
        }
    }
    .react-datepicker {
        margin-bottom: 32px;
        background-color: $bg-primary;
        border: 1px solid $clr-primary;
        border-radius: 0;
        &__header {
            background-color: $bg-primary;
            margin-bottom: 8px;
            
        }
        &__current-month {
            color: $clr-primary;
            font-family: $font-family-accent;
            font-size: $font-size-400;
        }
        &__input-container {
            padding-bottom: 32px;
            input {
                width: 120px;
                margin-right: 40px;
                padding: 10px;
                border: 1px solid $clr-primary;
                background-color: $bg-primary;
                color: $clr-primary;
                font-size: $font-size-300;
                @include tablet-breakpoint {
                    margin-right: 24px;
                }
                @include mobile-breakpoint {
                    margin-right:2px;
                }
            }
        }

        &__day {
            width: 48px;
            height: 48px; 
            line-height: 48px; 
            background-color: $bg-primary;
            color: $clr-primary;
            font-family: $font-family-accent;
            font-size: $font-size-400;
            justify-content: center; 
            align-items: center; 

            margin: 2px; 
        }

        &__day-name {
            @extend .react-datepicker__day; // Applique les mêmes styles que .react-datepicker__day
        }

        &__day--selected {
            background-color: #002366;
            color: white;
            border-radius: 0; // Donne un aspect arrondi
            // Autres styles pour la cellule sélectionnée
        }

        &__day--in-range {
            background-color: #0024667d;
            border-radius: 0;
        }

        &__day--range-start {
            background-color: #002366;
            color: white;
        }

        &__day--range-end {
            background-color: #002366;
            color: white;
            border-radius: 0;
            font-weight: 500;
        }

        &__week {
            display: flex; // Assure que les cellules de la semaine s'affichent en ligne
        }
    }
    .date-picker__container {
        @include tablet-breakpoint {
            width: 100%;
            display: flex;
            justify-content: center;
            transform-origin: center;
            margin: 0 auto;
            transform: scale(0.95);
        }
        @include mobile-breakpoint {
            width: 100%;
            transform-origin: center;
            margin: 0 auto;
            transform: scale(0.75);
        }
    }
}