@use "../abstracts/" as *;

.footer {
    position: relative;
    background-color: $footer-background-color;
    color: $footer-text-color;
    font-family: $footer-link-font-family;
    text-decoration: $footer-link-text-decoration;
    margin-top: 60px;
}