@use "../abstracts/" as *;

.footer {
    position: absolute;
    bottom: 6px;
    align-items: center;
    width: 100%;
    background-color: transparent;
    font-family: $navigation-font-family;
    font-weight: $navigation-font-weight;
    font-size: $navigation-font-size;
    z-index: $navigation-z-index;

    &__links {
        display: flex;
        justify-content: center;
        .footer__item {
            a {
                color: $clr-gray-200;
                text-transform: lowercase;
                opacity: 0.5;
                transition: 0.3s;

                &:hover,
                &:focus {
                    opacity: 1;
                }
            }
        }

        span {
            font-size: 1.1rem;
            margin: 0 0.5rem;
            color: $clr-secondary;
        }

        .cp {
            @include tablet-breakpoint {
                display: none;
            }
        }
    }
}