@use "../abstracts/" as *;
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

.header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 148px; // navbar
    @include tablet-breakpoint {
        margin-top: 92px;
    }
    .header-background-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;

        .header-background {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            min-height: 120%;
            object-fit: cover;
            filter: brightness(0.6);
        }
    }

    .header-content {
        position: relative;
        text-align: center;
        align-items: center;
        width: 60%;
        max-width: 850px;
        @include tablet-breakpoint {
            width: 98%;
        }
        h1 {
            font-size: $heading-1-font-size;
            color: $heading-1-color;
            font-weight: 500;
            font-family: "Bodoni Moda SC", serif;
            text-transform: uppercase;
            @include tablet-breakpoint {
                font-size: 36px;
            }
        }

        .header-subtitle {
            margin: 60px auto;
            font-size: $font-size-400;
            color: $clr-secondary;
            white-space: pre-line;
            @include tablet-breakpoint {
                margin: 24px auto;
                font-size: $font-size-300;
            }
        }
    }
}