@use "../abstracts/" as *;

.home-landing {
    height: 124vh;
    position: relative;
    overflow: hidden;
    // &__background {
    //     video {
    //         height: 120vh;
    //     }
    // }
    &__logo {
        animation: logo-fade-in 1.5s forwards;
    }
    .content {
        top: 60%;
        width: 70%;
        @include tablet-breakpoint {
            top: 50%;
            width: 80%;
        }
        @include mobile-breakpoint {
            width: 95%;
        }
        h1 {
            font-weight: 500;
            letter-spacing: 2px;        
            margin-bottom: 16px;
            @include tablet-breakpoint {
                font-size: $font-size-500;
            }
        }
        p {
            font-weight: 300;
            font-size: $font-size-400;
            letter-spacing: 1px;
            line-height: 1.8;
            margin-bottom: 64px;
            @include tablet-breakpoint {
                font-size: $font-size-400;
                margin-bottom:32px;
            }
            @include mobile-breakpoint {
                font-size: $font-size-300;
                margin-bottom:32px;
            }
        }
    }
    &__arrow {
        animation: arrow-up-and-down infinite 5s;
    }
}

@keyframes logo-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes arrow-up-and-down {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}