@use "../abstracts/" as *;

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 105px;
    background-color: $navigation-background-color;
    padding: $navigation-padding;
    font-family: $navigation-font-family;
    font-weight: $navigation-font-weight;
    font-size: $navigation-font-size;
    text-decoration: $navigation-link-text-decoration;
    transition: background-color 0.5s ease;
    z-index: $navigation-z-index;

    &__logo {
        position: relative;

        img {
            width: 120px;
            object-fit: cover;
            transform: translateY(12px);
            filter: $filter-secondary;
        }
    }

    &__links {
        display: flex;
        justify-content: space-evenly;
        width: 42%;
        max-width: 1280px;
        margin-left: auto;

        li {
            position: relative;
            min-width: 10%;
            max-height: 64px;
            text-align: center;
            cursor: pointer;

            a {
                position: relative;
                color: $clr-gray-200;
                text-transform: uppercase;
                transition: 0.2s;

                &:hover {
                    text-shadow: 2px 2px 8px rgba(237, 130, 130, 0.7);
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    bottom: -2px;
                    background-color: $clr-secondary;
                    transition: transform 0.3s ease;
                    transform: scaleX(0);
                    transform-origin: left;
                }

                &:hover:after {
                    transform: scaleX(1);
                }
            }
        }

        .active {
            a {
                color: $clr-secondary;

                &:after {
                    transform: scaleX(1);
                }
            }
        }
    }
}