@use "../abstracts/" as *;

.navbar {
    // position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 105px;
    background-color: $navigation-background-color;
    padding: $navigation-padding;
    font-family: $navigation-font-family;
    font-weight: $navigation-font-weight;
    font-size: $navigation-font-size;
    text-decoration: $navigation-link-text-decoration;
    transition: background-color 0.5s ease;
    z-index: $navigation-z-index;
    @include tablet-breakpoint {
        height: 92px;
    }
    // &__logo {
    //     img {
    //         width: 120px;
    //         object-fit: cover;
    //         filter: invert(1);
    //         transform: translateY(12px);
    //         // animation: svg-color-fluctuation 15s infinite;
    //     }
    // }
    &__links {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        max-width: 1280px;
        margin-left: auto;
        li {
            position: relative;
            min-width: 10%;
            max-height: 64px;
            text-align: center;
            cursor: pointer;
            a {
                color:$clr-gray-200;
                text-decoration: none;
                transition: 0.2s;
            }
        }
        .active {
            a {
                position: relative;
                color: $clr-primary;

            }
        }
    }
}