.particle-container {
    position: absolute;
    top: -150px;
    left: 0;
    overflow: visible;
    z-index: -1;

    &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        background: radial-gradient(circle, rgba(128, 128, 128, 0) 0%, rgba(0, 0, 0, 1) 100%);
        pointer-events: none;
        mix-blend-mode: multiply
    }
}