@use "../abstracts/" as *;

.pop-up {
    position: absolute;
    min-width: 360px;
    width: 40%;
    top: 0;
    // right: 18px;
    left: 50%;
    padding: 16px;
    text-align: center;
    background-color: $bg-primary;
    border: 1px solid $clr-primary;
    border-radius: 8px;
    -webkit-box-shadow: 5px 0px 25px 5px rgba(0,0,0,0.27); 
    box-shadow: 5px 0px 25px 5px rgba(0,0,0,0.27);
    animation: popUpSlideIn 0.2s ease-out forwards;
    @include tablet-breakpoint {
        min-width: 340px;
        left: 50%;
        padding: 12px;
    }
    img {
        width: 56px;
        height: 56px;
        object-fit: contain;
        margin: 24px 0;
    }
    .title {
        font-family: $font-family-accent;
        font-weight: $font-weight-extra-bold;
        font-size: $font-size-500;
        margin-bottom: 8px;
        @include tablet-breakpoint {
            font-size: $font-size-400;
        }
    }
    .info {
        max-width: 90%;
        margin: 0 auto 24px;
        font-family: $font-family-accent;
        font-weight: $font-weight-default;
        font-size: $font-size-200;
        line-height: 20px;
        font-style: italic;
    }
    .suscribe-container__input {
        position: relative;
        margin-bottom: 48px;
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -10px;
            transform: translateX(-50%);
            width: 80%;
            height: 1px;
            background-color: $clr-primary;
        }
        input {
            background-color: transparent;
            text-align: center;
            font-family:  $font-family-base;
            font-size:  $font-size-300;;
            font-weight: $font-weight-semi-bold;
            color: $clr-primary;
            &::placeholder {
                color: $clr-primary;
            }
        }
    }
    .closeButton {
        position: absolute;
        top: 16px ;
        right: 16px;
        img {
            margin: inherit;
            width: 16px;
            height: 16px;
        }
    }
}

@keyframes popUpSlideIn {
    from {
      transform:translateX(-50%) translateY(20%);
      opacity: 0;
    }
    to {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
    }
  }