@use "./colors" as *;

@keyframes text-color-fluctuation {
    0% {
        fill: $clr-primary;
        color: $clr-primary;
    }
    33% {
        fill: $clr-secondary;
        color: $clr-secondary;
    }
    66% {
        fill: $clr-accent;
        color: $clr-accent;
    }
    100% {
        fill: $clr-primary;
        color: $clr-primary;
    }
}
@keyframes svg-color-fluctuation {
    0% {
        filter: $filter-primary;
    }
    33% {
        filter: $filter-secondary;
    }
    66% {
        filter: $filter-accent;
    }
    100% {
        filter : $filter-primary
    }
}