$clr-primary: hsl(219, 100%, 18%);
$clr-secondary: hsl(63, 33%, 86%);
$clr-accent: hsl(209, 79%, 17%);

$bg-primary:hsl(60, 43%, 92%);
$product-bg: hsl(60, 41%, 97%);

$clr-info: hsl(214, 84%, 56%);
$clr-success: hsl(145, 63%, 42%);
$clr-warning: hsl(45, 74%, 56%);
$clr-error: hsl(0, 79%, 63%);

$btn-primary: hsl(209, 79%, 17%);
$btn-secondary: hsl(28, 87%, 62%);
$btn-hover: hsl(208, 80%, 12%);
$btn-active: hsl(209, 22%, 42%);
$btn-disable: hsl(209, 22%, 42%);

$clr-white: hsl(0 0% 100%);
$clr-gray-100: hsl(0 0% 95%);
$clr-gray-200: hsl(0 0% 82.5%);
$clr-gray-300: hsl(0 0% 70%);
$clr-gray-400: hsl(0 0% 60%);
$clr-gray-500: hsl(0 0% 50%);
$clr-gray-600: hsl(0 0% 40%);
$clr-gray-700: hsl(0 0% 30%);
$clr-gray-800: hsl(0 0% 17.5%);
$clr-gray-900: hsl(0 0% 7.5%);
$clr-black: hsl(0 0% 0%);

$primary-filter: brightness(0) saturate(100%) invert(5%) sepia(94%) saturate(6652%) hue-rotate(216deg) brightness(91%) contrast(101%);
$secondary-filter: brightness(0) saturate(100%) invert(90%) sepia(17%) saturate(182%) hue-rotate(24deg) brightness(97%) contrast(98%);