@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

// $active-theme: $light;
$enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $clr-white;
$color-background-default: $bg-primary;
$color-text-interactive-default: $clr-primary;
$color-text-interactive-hover: $clr-primary;

// set to 0 to disable
$letter-spacing-loose: 0;

$border-radius-1: $size-2;
$border-radius-2: $size-4;

// body
$body-font-family: $font-family-base;
$body-font-size: $font-size-300;
$body-line-height: 1.8;
$body-font-weight: $font-weight-default;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family: $font-family-accent;
$heading-color-default: $color-text-default;

$heading-1-font-size: $font-size-1200;
$heading-1-color: $color-text-default;
$heading-1-font-weight: $font-weight-semi-bold;

$heading-2-font-size: $font-size-600;
$heading-2-color: $clr-secondary;
$heading-2-font-weight: $font-weight-semi-bold;

$heading-3-font-size: $font-size-500;
$heading-3-color: $clr-accent;
$heading-3-font-weight: $font-weight-bold;

// // site header
$site-header-background-color: transparent;
$site-header-color: $color-text-default;
$site-header-padding: $size-6 ;
$site-header-margin: 0 auto;
$site-header-font-size: $font-size-200;

// //navigation
$navigation-color: $site-header-color;
$navigation-background-color: $site-header-background-color;
$navigation-margin: $site-header-margin;
$navigation-padding: $site-header-padding;
$navigation-gap: $size-9;
$navigation-link-text-decoration: none;
$navigation-font-size: $site-header-font-size;
$navigation-font-family: $font-family-accent;
$navigation-font-weight: $font-weight-semi-bold;
$navigation-z-index: 9;