@use "../abstracts/" as *;

.contactPage {
    .contact-section {
        margin: 64px auto 124px;
        article {
            max-width: 70%;
            margin: 0 auto 124px;
            text-align: center;
            font-size: $font-size-400;
            @include tablet-breakpoint {
                font-size: $font-size-300;
                max-width: 90%;
                margin: 0 auto 64px;
            }
        }
        .contact {
            display: flex;
            justify-content: space-between;
            width: 100%;
            @include tablet-breakpoint {
                flex-direction: column;
            }
            h3 {
                font-size: 1.75rem;
                margin-bottom: 16px;
            }
            &__info {
                    padding: 47px 32px;
                    border: 1px solid $clr-primary;
                    span {
                        font-weight: $font-weight-bold;
                    }
            }
            .left-part {
                width: 60%;
                @include tablet-breakpoint {
                    width: 100%;
                }
                // form {
                //     padding: 16px 32px;
                //     border: 1px solid $clr-primary;
                //     @include tablet-breakpoint {
                //        margin-bottom: 32px;
                //     }
                //     .top-part {
                //         width: 100%;
                //         display: flex;
                //         justify-content: space-between;
                //         margin-bottom: 32px;
                //         @include tablet-breakpoint {
                //             flex-direction: column;
                //         }
                //         .left-part {
                //             width: 50%;
                //             @include tablet-breakpoint {
                //                 width: 100%;
                //             }
                //         }
                //         .right-part {
                //             width: 50%;
                //             @include tablet-breakpoint {
                //                 width: 100%;
                //             }
                //         }
                //     }
                //     .form-input {
                //         position: relative;
                //         margin-bottom: 48px;
                //         &::after {
                //             content: '';
                //             position: absolute;
                //             left:0;
                //             bottom: -10px;
                //             width: 90%;
                //             height: 1px;
                //             background-color: $clr-primary;
                //         }
                //         input {
                //             background-color: transparent;
                //             font-family:  $font-family-base;
                //             font-size:  $font-size-300;;
                //             font-weight: $font-weight-semi-bold;
                //             color: $clr-primary;
                //             &::placeholder {
                //                 color: $clr-primary;
                //             }
                //         }
                //     }
                //     label {
                //         display: none;
                //     }
                //     select {
                //         width: 90%;
                //         -webkit-appearance: none;
                //         -moz-appearance: none;
                //         -webkit-user-select: none;
                //         -moz-user-select: none;
                //         -webkit-padding-end: 20px;
                //         -moz-padding-end: 20px;
                //         -webkit-padding-start: 2px;
                //         -moz-padding-start: 2px;
                //         background-color: transparent; /* Fallback color if gradients are not supported */
                //         background-image: url(./media/img/select_arrow.svg);
                //         background-position: center right;
                //         background-repeat: no-repeat;
                //         border: 1px solid transparent;
                //         border-radius: 2px;
                //         font-family:  $font-family-base;
                //         font-size:  $font-size-300;;
                //         font-weight: $font-weight-semi-bold;
                //         color: $clr-primary;
                //         margin: 0;
                //         overflow: hidden;
                //         padding-top: 2px;
                //         padding-bottom: 2px;
                //         text-overflow: ellipsis;
                //         white-space: nowrap;
                //     }
                //     textarea {
                //         border: none;
                //         resize: none;
                //         width: 100%;
                //         height: 92px;
                //         background-color: transparent;
                //         font-family:  $font-family-base;
                //         font-size:  $font-size-300;;
                //         font-weight: $font-weight-semi-bold;
                //         color: $clr-primary;
                //         &::placeholder {
                //             color: $clr-primary;
                //         }
                //     }
                //     .cta-button {
                //         min-width: 200px;
                //     }
                // }
            }
            .right-part {
                width: 35%;
                @include tablet-breakpoint {
                    width: 100%;
                }
                .social {
                    display: flex;
                    justify-content: space-around;
                    padding: 16px;
                    margin-bottom: 48px;
                    border: 1px solid $clr-primary;
                    img {
                        width: 40px;
                        height: 40px;
                        object-fit: contain;
                        filter: brightness(0) saturate(100%) invert(5%) sepia(94%) saturate(6652%) hue-rotate(216deg) brightness(91%) contrast(101%);;
                    }
                }
                .newsletter {
                    padding: 20px 16px;
                    border: 1px solid $clr-primary;
                    p {
                        font-family: $font-family-accent;
                        font-size: $font-size-200;
                        line-height: 22px;
                        font-style: italic;
                        margin-bottom: 32px;
                    }
                    .suscribe-container__input {
                        position: relative;
                        margin-bottom: 48px;
                        &::after {
                            content: '';
                            position: absolute;
                            left: 50%;
                            bottom: -10px;
                            transform: translateX(-50%);
                            width: 100%;
                            height: 1px;
                            background-color: $clr-primary;
                        }
                        input {
                            background-color: transparent;
                            font-family:  $font-family-base;
                            font-size:  $font-size-300;;
                            font-weight: $font-weight-semi-bold;
                            color: $clr-primary;
                            &::placeholder {
                                color: $clr-primary;
                            }
                        }
                    }
                }
            }
        }
    }
    .maps {
        margin-bottom: 124px;
    }
}