@use "../abstracts/" as *;

.domainPage {
    h2 {
        text-align: center;
        margin: $heading-2-margin;
    }
    .section {
        display: flex;
        margin-bottom: 120px;
        .section-content {
            display: flex;
            align-items: center;
            strong {
                font-weight: $font-weight-extra-bold;
            }
        }
        &-type-0 {
            @include tablet-breakpoint {
                flex-direction: column;
            }
            .section-image {
                display: flex;
                width: 64%;
                @include tablet-breakpoint {
                    width: 100%;
                    margin-bottom: 24px;
                }
                img {
                    object-fit: cover;
                }
                img:nth-child(1) {
                    width: 45%;
                    padding-right: 20px;
                }
                img:nth-child(2) {
                    width: 55%;
                }
            }
            .section-content {
                width: 36%;
                padding-left: 40px;
                font-size: $font-size-300;
                @include tablet-breakpoint {
                    width: 100%;
                    padding: 0;
                }
            }
        }
        &-type-1 {
            @include tablet-breakpoint {
                flex-direction: column-reverse;
            }
            .section-content {
                width: 45%;
                flex-direction: column;
                justify-content: center;
                padding-right: 40px;
                font-size: $font-size-300;
                @include tablet-breakpoint {
                    width: 100%;
                    padding: 0;
                }
            }
            .section-image {
                width: 55%;
                @include tablet-breakpoint {
                    width: 100%;
                    margin-bottom: 24px;
                }
                img {
                    object-fit: cover;
                    width: 100%;
                }
                .row-image {
                    display: flex;
                    max-height: 360px;
                    margin-top: 18px;
                    img:nth-child(1) {
                        width: 70%;
                        padding-right: 20px;
                    }
                    img:nth-child(2) {
                        width: 30%;
                    }
                }
            }
        }
        &-type-2 {
            @include tablet-breakpoint {
                flex-direction: column;
            }
            .section-image {
                width: 50%;
                height: 100%;
                @include tablet-breakpoint {
                    width: 100%;
                    margin-bottom: 24px;
                }
                img {
                    width: 100%;
                    height: 690px;
                    object-fit: cover;
                }
            }
            .section-content {
                width: 50%;
                flex-direction: column;
                align-items: normal;
                justify-content: center;
                padding-left: 40px;
                padding-right: 12px;
                @include tablet-breakpoint {
                    width: 100%;
                    padding: 0;
                }
                h4 {
                    font-size: 28px;
                    font-weight: $font-weight-bold;
                    margin-bottom: 32px;
                }
            }
            .reverse {
                padding-left: 0;
                padding-right: 40px;
                @include tablet-breakpoint {
                    padding: 0;
                    margin-bottom: 24px;
                }
            }
        }
    }
    .carousel {
        margin-bottom: 64px;
    }
    .carousel-content {
        padding: 0 12px;
        margin-bottom: 124px;
        font-size: $font-size-300;
    }
}