@use "../abstracts/" as *;

.eventPage {
    text-align: center;
    h2 {
        text-align: center;
        margin: $heading-2-margin;
    }
    .event {
        text-align: left;
        border-top: 1px solid $clr-primary;
        margin-bottom: 160px;
        article {
            display: flex;
            padding: 32px 0;
            border-bottom: 1px solid $clr-primary;
            .left-part {
                width: 38%;
                img {
                    width: 100%;
                }
            }
            .right-part {
                display: flex;
                flex-direction: column;
                width: 60%;
                padding-left: 32px;
                .article-header {
                    display: flex;
                    margin-bottom: 42px;
                    .date {
                        position: relative;
                        border: 1px solid $clr-primary;
                        padding: 0px 12px;
                        margin-right: 32px;
                        height: 95px;
                        text-align: center;
                        p {
                            font-family: $font-family-accent;
                            font-size: $font-size-500;
                            line-height: 46px;
                        } 
                        .day {
                            font-weight: $font-weight-extra-bold;
                        }
                        .time {
                            font-weight:$font-weight-default;
                            font-style: italic;
                        }
                        &::after {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 1px;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                            background-color: $clr-primary;
                        }
                    }
                    .title {
                        h2 {
                            margin: inherit;
                            text-align: left;
                        }
                        p {
                            font-family: $font-family-accent;
                            font-size: $font-size-500;
                            font-weight:$font-weight-default;
                            font-style: italic;
                        }
                    }
                }
                .content {
                    font-size: $font-size-200;
                    ul {
                        margin: 16px 0 16px 32px;
                        list-style-type : disc;
                    }
                    h4 {
                        font-family: $font-family-base;
                        font-weight: 900;
                        font-size: $font-size-400;
                        margin-bottom: 16px;
                        span, a {
                            font-size: $font-size-200;
                            font-weight:$font-weight-default;
                        }
                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .passed-event {
        color: hsla(219, 100%, 18%, 0.5);
        h2 {
            color: hsla(219, 100%, 18%, 0.5);
        }
        a {
            color: hsla(219, 100%, 18%, 0.5);;
        }
    }
    .no-event {
        p {
            font-size: $font-size-400;
            font-weight: $font-weight-semi-bold;
            margin-bottom: 60px;
            @include tablet-breakpoint {
                font-size: $font-size-300;
            }
        }
        .suscribe-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 200px;
            &__input {
                position: relative;
                margin-bottom: 60px;
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -10px;
                    transform: translateX(-50%);
                    width: 150%;
                    height: 1px;
                    background-color: $clr-primary;
                    @include tablet-breakpoint {
                        width: 90%;
                    }
                }
                input {
                    background-color: transparent;
                    text-align: center;
                    font-family:  $font-family-base;
                    font-size:  $font-size-300;;
                    font-weight: $font-weight-semi-bold;
                    color: $clr-primary;
                    &::placeholder {
                        color: $clr-primary;
                    }
                }
            }
            
        }
    }
}