@use "../abstracts/" as *;

.homepage {
    .section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
        @include tablet-breakpoint {
            flex-direction: column;
            margin-bottom: 48px;
        }
        &-type-1 {
            .section-image {
                order: 1;
                width: 45%;
                max-height: 100%;
                object-fit: contain;
                @include tablet-breakpoint {
                    width: 100%;
                    max-height: 380px;
                    margin-bottom: 32px;
                    object-fit: cover;
                }
            }
            .section-content {
                order: 2;
                width: 55%;
                padding-left: 42px;
                @include tablet-breakpoint {
                    width: 100%;
                    padding-left: 0;
                }
            }
        }
        &-type-2 {
            position: relative;
            padding: 90px 12px 120px 12px;
            @include tablet-breakpoint {
                padding: 64px 12px ;
            }
            .section-background-image {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 100vw;
                height: 100%;
                object-fit: cover;
                filter: brightness(0.5);
                z-index: -1;
            }
            .section-content {
                width: 47%;
                @include tablet-breakpoint {
                    width: 100%;
                }
                h2, p, q {
                    quotes: none;
                    color: $clr-secondary;
                }
                q {
                    display: block;
                    font-family: $font-family-accent;
                    font-weight: $font-weight-semi-bold;
                    letter-spacing: 1px;
                    font-style: italic;
                    margin-bottom: 30px;
                }
                .margin-0 {
                    margin-bottom: 0;
                }
            }
            .section-logo {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 45%;
                padding-left: 42px;
                padding-top: 42px;
                @include tablet-breakpoint {
                    width: 100%;
                }
                img {
                    width: 22%;
                    max-height: 120px;
                    margin-right: 42px;
                    height: auto;
                    object-fit: contain;
                    @include tablet-breakpoint {
                        width: 33%;
                        margin-bottom: 32px;
                    }
                }
            }
        }
        .section-content {
            h2 {
                margin-bottom: 54px;
                @include tablet-breakpoint {
                    margin-bottom: 32px;
                }
            }
            article {
                margin-bottom: 42px;
                @include tablet-breakpoint {
                    margin-bottom: 48px;
                }
                p {
                    margin-bottom: 30px;
                }
            }
            .cta-container {
                @include tablet-breakpoint {
                    display: flex;
                    justify-content: center;
                }
            }
            @include tablet-breakpoint {
                margin-bottom: 48px;
            }
        }
    }
}

