@use "../abstracts/" as *;

.portfolio-container {
    background-color: $card-background;
    padding: 1rem;
    color: $clr-secondary;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    h1 {
        color: $clr-white;
        font-size: 3.5rem;
        font-weight: $heading-1-font-weight;
    }
    h2 {
        font-size: 2rem;
        color: $clr-secondary;
    }
    .tabs {
        display: flex;
        justify-content: center;
        height: 42px;
        transform: translateY(-56px);
        .parallax-circle-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            width: 200px;
            perspective: 1000px;
            overflow: visible;
            cursor: pointer;

            .circle {
                position: absolute;
                width: 50%;
                height: 50%;
                border-radius: 50%;
                border: 2px solid #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: transform 0.6s ease-out;

                .circle-text {
                    color: #ffffff;
                    font-size: 1rem;  
                    text-transform: uppercase;
                    transition: transform 0.6s ease-out;
                    pointer-events: none;
                }
            }
        }
    }
}
.project-showcase-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;  
    gap: 20px;
    padding: 20px;
    margin-bottom: 2dvh;
    height: 60dvh; 
    overflow-y: scroll;
    scrollbar-width: none;  
    -ms-overflow-style: none;  
    &::-webkit-scrollbar {
        display: none;  
    }
    .project-card-link {
        text-decoration: none;
        color: inherit;
        flex-basis: calc(33.333% - 20px); 
        margin-bottom: 20px;  

        &:nth-child(3n) {
            margin-right: 0;  
        }

        &:hover .project-card {
            transform: translateY(-5px);
            box-shadow: 0 4px 20px rgba(255, 105, 180, 0.4); 
        }
    }

    .project-card {
        background: linear-gradient(145deg, #141414, #1e1e1e);
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        .project-preview {
            width: 100%;
            height: 180px;
            object-fit: cover;
            object-position: top; 
            border-bottom: 3px solid #222;
        }

        .project-title {
            font-size: 1.5rem;
            margin-top: 15px;
            margin-left: 15px;
            color: #fff;
            letter-spacing: 1px;
        }

        .project-type {
            margin-left: 15px;
            margin-bottom: 15px;
            color: $clr-gray-400;
            font-weight: 300;
            font-size: 0.8rem;
        }

        .project-technologies {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin: 0 15px 15px;

            .technology-badge {
                padding: 2px 10px;
                border-radius: 5px;
                font-size: 0.8rem;
                // text-transform: uppercase;
                color: #fff;
                background-color: rgba(255, 105, 180, 0.15);
            }
        }
    }
}