@use "../abstracts/" as *;

.shopPage {
    .arianne {
        font-size: $font-size-400;
        margin: 16px 0 64px;
        span {
            font-weight: $font-weight-bold;
        }
    }
    .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
        article {
            width: 28%;
            min-width: 360px;
            margin-bottom: 64px;
            border: 1px solid  $clr-primary;
            cursor: pointer;
            &:hover {
                .illustration {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
            .illustration {
                overflow: hidden;
                height: 388px;
                border-bottom: 1px solid $clr-primary;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transition: 0.2s;
                }
            }
            .text {
                display: flex;
                justify-content: space-between;
                padding:16px 24px;
                p {
                    font-size: $font-size-300;
                    span {
                        font-family: $font-family-accent;
                        font-size: $font-size-400;
                        font-weight: $font-weight-bold;
                        strong {
                            font: 20px monospace; 
                        }
                    }
                }
            }
        }
    }
}