@use "../abstracts/" as *;

.winePage {
    h2 {
        text-align: center;
        margin: $heading-2-margin;
    }
    .section {
        display: flex;
        margin-bottom: 120px;
        @include tablet-breakpoint {
            flex-direction: column-reverse;
            margin-bottom: 42px;
        }
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40%;
            @include tablet-breakpoint {
                width: 100%;
            }
            h3 {
                margin-bottom: 40px;
                @include tablet-breakpoint {
                    text-align: center;
                }
            }
            p {
                margin-bottom: 40px;
            }
        }
        &-image {
            width: 60%;
            @include tablet-breakpoint {
                width: 100%;
                margin-bottom: 24px;
            }
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        .cta-button {
            @include tablet-breakpoint {
                margin: 0 auto;
            }
        }
        &-type-1 {
            .section-content {
                padding-right: 180px;
                @include tablet-breakpoint {
                    padding-right: 0;
                }
            }
        }
        &-type-2 {
            flex-direction: row-reverse;
            @include tablet-breakpoint {
                flex-direction: column-reverse;
            }
            .section-content {
                padding-left: 180px;
                @include tablet-breakpoint {
                    padding-left: 0;
                }
            }
        }
    }
}