:root {
    --color-primary: #00205B;
    --color-secondary: #E7E8D1;
	--color-accent: #092c4c;

    --bg-primary:#F3F3E1;
    --product-bg: #fafaf3;

    --color-info: #2F80ED;
    --color-success: #27AE60;
    --color-warning: #E2B93B;
    --color-error: #EB5757;

	--btn-primary: #092c4c;
	--btn-secondary: #f2994a;
	--btn-hover: #061f35;
	--btn-active: #536b82;
	--btn-disable: #536b82;
}